*{
  box-sizing: border-box;
  margin: 0 auto;
}
ul,ol{
  list-style-type: none;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}
body {
  background-color: white;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ACA VA EL FOOTER */
footer {
  background-color: lightgrey;
  position: relative;
}
.divisiones{
  align-items: center;
  overflow: hidden;
}
.contact_form {
  width:100%;
  display: flex;
  flex-direction: column;
}
.redes {
  width:100%;
  display: flex;
  flex-direction: column;
}
.iconos_redes{
  display: flex;
}
#tw {
  padding: 10px;
  border: 1px solid black;
  border-radius: 90px;
  right: 5px;
}
#fb{
  padding: 10px 14px;
  border: 1px solid black;
  border-radius: 90px;
}
#insta{
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 90px;
}
.map iframe{
  width: 100%;
}
.legales {
  text-align: center;
  background-color: black;
  color: white;
}
.contact_form button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
}
.map {
  justify-content: center;
}
/* ACA VA LA SECCION PARA NAVEGAR */

main {
  width: 100%;
}
.image{
  width: 100%;
  overflow: hidden;
}
.image img{
  width: 100%;
}

.welcome {
  width: 100%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #97F8A0;
  overflow: hidden;
}

.cuadradoa{
  border: 2px solid white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  float: left;
}
.cuadradob{
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.welcome button {
  background-color: #F8EE97;
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
}

/* SECCION LOGIN Y REGISTRO */
.formularios {
  top: 120px;
}
.login, .register{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login {
  background-color: #F8EE97;
}
.register {
  background-color: #97F8A0;
}

.cuadrado1{
  border: 2px solid white;
  padding: 20px;
  border-radius: 15px;
  width: 257px;
}
.cuadrado2{
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 213px;
}

.cuadrado3{
  border: 2px solid white;
  padding: 20px;
  border-radius: 15px;
  /*width: 389px;*/
}
.cuadrado4{
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.log button{
  background-color: #97F8A0;
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.reg button, .welcome button{
  background-color: #F8EE97;
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.welcome button a {
  margin-left: 0px;
}
.login strong {
  font-family: 'Lato', sans-serif;
  color: #97F8A0;
  -webkit-text-stroke: 0.5px black;
}
.register strong {
  font-family: 'Lato', sans-serif;
  color: #F8EE97;
  /* -webkit-text-stroke: 1px black; */
}
/*input{
  background-color: rgb(232, 240, 254);
}
#avatar{
  background-color: white;
}*/
@media (min-device-width: 320px){
  /* SECCION LOGIN Y REGISTRO */
  .cuadrado3{
    width: 290px;
  }
  .cuadrado4{
    width: 240px;
  }
}
@media (max-device-width:425px){
  /* SECCION LOGIN Y REGISTRO */
  .cuadrado1, .cuadrado3{
    font-size: 12;
  }
  .login h1, .register h1{
    font-size: 16;
  }
  .login, .register{
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
  }
  .cuadrado1{
    padding: 10px;
    width: 200px;
  }
  .cuadrado2{
    padding: 10px;
    width: 150px;
  }
  .cuadrado3{
    padding: 10px;
  }
  .cuadrado4{
    padding: 5px;
  }
  .contact_form, .iconos_redes, .redes{
    font-size: 12;
  }
}
@media (min-device-width:425px){
/* ACA VA EL FOOTER */

.formredes{
  display: flex;
}
  .contact_form {
    width:50%;
    padding-top: 10px;
  }
  .redes {
  width: 50%;
  }
  /* SECCION LOGIN Y REGISTRO */
  .cuadrado3{
    width: 300px;
  }
  .cuadrado4{
    padding: 20px;
    width: 250px;
  }
}
@media (min-width:768px) {
/* ACA VA EL HEADER */
header {
  background-color: white;
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 90;
}
.menu,.menu_cuentas {
  width: 33.33%;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo  {
  margin: 0;
  display: flex;
  justify-content: center;
}
.logo a {
  margin: 0;
}
.cuentas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#logout-form {
  display: none;
}*/
/* ACA VA EL FOOTER */
footer {
top: 400px;
}
.f{
  top: 120px;
}
.divisiones{
  display: flex;
  position: relative;
}
.contact_form {
  width:33.33%;
}
.redes {
  width:33.33%;
}
.map{
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
}
div .map{
  overflow: hidden;
}
/* ACA VA LA SECCION PARA NAVEGAR */
.webbody {
top: 120px;
position: relative;
}
main {
  display: flex;
  flex-direction: row;
}
.image, .welcome {
  width: 50%;
}
.image img {
  display: flex;
  flex-wrap: wrap;
}
.cuadradoa{
  width: 591px;
}
.cuadradob{
  width: 550px;
}
.separador {
  width: 100%;
  height: 150px;
}







/* SECCION LOGIN Y REGISTRO */
.formularios {
  position: relative;
  top: 120px;
  display: flex;
  flex-direction: row;
}
.login, .register{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form small {
  color: red;
}
.productos_destacados, .containercarrito, .historial {
  top: 120px;
  position: relative;
}
.cuadrado2, .cuadrado4 {
  padding: 10px;
}
.cuadrado4 {
  width: 250px;
}

}

@media (min-device-width: 1024px) {
  /* SECCION LOGIN Y REGISTRO */
  .cuadrado1{
    padding: 20px;
    width: 257px;
  }
  .cuadrado2{
    padding: 20px;
    width: 213px;
  }
  .cuadrado3{
    padding: 20px;
    width: 389px;
  }
  .cuadrado4{
    padding: 20px;
    width: 346px;
  }
.login, .reg{
  font-size: 20;
}
.register h1{
  font-size: 28;
}

/* ACA VA EL FOOTER */

}
