*{
  box-sizing: border-box;
  margin: 0 auto;
}
ul,ol{
  list-style-type: none;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}
body {
  background-color: white;
}
header {
  background-color: white;
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 90;
}
.menu,.menu_cuentas {
  width: 33.33%;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo  {
  margin: 0;
  display: flex;
  justify-content: center;
}
.logo a {
  margin: 0;
}
.cuentas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#logout-form {
  display: none;
}
footer {
  position: relative;
  top:150px;
}
.redes {
  display: flex;
  justify-content: space-around;
}
#tw {
  padding: 10px;
  border: 1px solid black;
  border-radius: 90px;
}
#fb{
  padding: 10px 14px;
  border: 1px solid black;
  border-radius: 90px;
}
#insta{
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 90px;
}
/* ACA VA LA SECCION PARA NAVEGAR */
.webbody {
position: relative;
top: 124px;
}
main {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.image, .welcome {
  width: 50%;
}
.image img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #97F8A0;
}
.cuadradoa{
  border: 2px solid white;
  border-radius: 30px;
  width: 591px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap
}
.cuadradob{
  background-color: white;
  border-radius: 30px;
  width: 550px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap
}
.separador {
  width: 100%;
  height: 150px;
}
/* SECCION LOGIN Y REGISTRO */
.formularios {
  position: relative;
  top: 124px;
  display: flex;
  flex-direction: row;
}
.login, .register{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.login {
  background-color: #F8EE97;
}
.register {
  background-color: #97F8A0;
}
.cuadrado1{
  border: 2px solid white;
  padding: 20px;
  border-radius: 15px;
  width: 257px;
}
.cuadrado2{
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 213px;
}
.cuadrado3{
  border: 2px solid white;
  padding: 20px;
  border-radius: 15px;
  width: 389px;
}
.cuadrado4{
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 346px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
form small {
  color: red;
}
.log button{
  background-color: #97F8A0;
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.reg button, .welcome button{
  background-color: #F8EE97;
  border: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.welcome button a {
  margin-left: 0px;
}
.login strong {
  font-family: 'Lato', sans-serif;
  color: #97F8A0;
  -webkit-text-stroke: 0.5px black;
}
.register strong {
  font-family: 'Lato', sans-serif;
  color: #F8EE97;
  /* -webkit-text-stroke: 1px black; */
}
/* @media (min-width:1024px) {
  body {
    max-width: 1200px;
  }
  header, footer {
    position: relative;
  }
  section {
    top: 0;
  }
  .logo span {
    display: none;
  }
  .menu li {
    display:flex;
  }
  .menu, .main-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .column {
    position: static;
  }
  .img_wel {
    overflow: hidden;
  }
  .img_wel div {
    float: left;
    width: 50%;
  }
  .welcome {
    position: static;
    text-align: left;
    transform: translate(0,0);
    padding: 90px;
  }

  .logo {
    display: flex;
    flex-direction: column;
  }
  .logo a {
    display: none;
  }
  .featured{
    margin-top: 0;
  }

  .featured-products {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .product {
    width: 33.33%;
    height: 480px;
  }
  .mid {
    width: 33.33%;
    display: flex;
    flex-direction: column;
  }
  .photo, .photo3 {
    height: 480px;
  }
  .photo2, .photo-containera {
    height: 240px;
  }

  footer {
    display: block;
  }
} */
